{% load i18n %}
<a href="{% url 'login' %}">{% trans 'Login'%}</a>
<a href="{% url 'forgot-password' %}">{% trans 'Forgot Password'%}</a>
<a href="{% url 'register' %}">{% trans 'Register'%}</a>
<a href="{% url 'logout' %}">{% trans 'Logout'%}</a>
<a href="{% url 'profile-dashboard' %}">{% trans 'Dashboard'%}</a>
<a href="{% url 'change-password' %}">{% trans 'Change Password'%}</a>
<a href="{% url 'resend-activation-email' %}">{% trans 'Re-send Activation Email'%}</a>
<a href="{% url 'change-user-details' %}">{% trans 'Change user details'%}</a>
</br>
</br>