{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form ng-non-bindable method="POST" >{% csrf_token %}
			{{ messages|messages_style }}
			{{ form_details|form_style }}
			<div class="form-group">
				{# Translators: The save button on the change user details form. #}
				<button class="btn btn-primary btn-lg btn-block" name='action' value='form_details' type="submit">{% trans 'Save' %}</button>
			</div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>
{% endblock %}
