{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<form ng-non-bindable method="POST" >{% csrf_token %}
			{{ messages|messages_style }}
			{{ form|form_style }}
			<div class="form-group">
				{# Translators: The send new password button on the forget password form. #}
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="{% trans 'Send new password' %}">
			</div>
		</form>
	</div>
	<div class="col-md-4"></div>
</div>
<div class="row">
	<div class="col-md-12">
		<p class="text-center">
			<a href="{% url 'forgot-password' %}">{% trans 'Forgot Password'%}</a> | 
			<a href="{% url 'register' %}">{% trans 'Register'%}</a> | 
			<a href="{% url 'resend-activation-email' %}">{% trans 'Re-send Activation Email'%}</a>
		</p>
	</div>
</div>
{% endblock %}