{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}
{% load staticfiles %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block head_css %}
	<link href="{% static 'css/profile.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">

		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<div class="portlet light profile-sidebar-portlet ">

						{{ messages|messages_style }}
						{{ form_photo|form_style }}
            <!-- SIDEBAR USERPIC -->
            <div class="profile-userpic">
                <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt=""> </div>
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name"> Marcus Doe {{ user.name }}  </div>
                <div class="profile-usertitle-job"> {{ user.email }} </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
        </div>
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->

		<!-- BEGIN PROFILE CONTENT -->
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">
					<form ng-non-bindable method="POST" >{% csrf_token %}
						{{ messages|messages_style }}
						{{ form_details|form_style }}
						<div class="form-group">
							{# Translators: The save button on the change user details form. #}
							<button class="btn btn-primary btn-lg btn-block" name='action' value='form_details' type="submit">{% trans 'Save' %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END PROFILE CONTENT -->

	</div>


</div>
{% endblock %}
